include LICENSE
include README.md
include requirements.txt
prune **/__pycache__
recursive-include desmos2python *.pyi
recursive-include resources *.pyi *.js *.json *.pyjinja2
include desmos2python/py.typed
