recursive-include resources *
recursive-include resources/javascript *.js
recursive-include resources/templates *.*jinja2
recursive-include resources/latex_json *.json
include AUTHORS.rst
include LICENSE
include README.md
include README.rst

recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.*~
exclude .dependabot *
exclude .devcontainer.json
exclude .imgbotconfig
exclude .pre-commit-config.yaml
exclude Dockerfile
exclude .style.yapf
exclude .readthedocs.yml
exclude .pylintrc
exclude .gitignore
recursive-exclude .github *
recursive-exclude .dependabot *

recursive-exclude .tox *
global-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.js *.*jinja2